
*{
    font-family: 'Work Sans';
font-style: normal;
}
.header{
    
    width: auto;
    height: 1450px;
    background-color: rgba(255, 144, 14, 0.1);
}
nav, .h2{
    color: #131313;
    display: flex;
    font-weight: 700;
    font-size: 45px;
    padding-left: 228px;
    padding-top: 50px;
}
ul{
    display: flex;
    gap: 25px   ;
    color: #424242;
    font-weight: 500;
font-size: 18px;
    list-style-type:none;
    padding-right: 240px;
    padding-top: 63px;
    padding-left: 573PX;
}
/*----------------
 header section
 ------------------*/
.section-title{
    color: #131313;
    font-weight: 700;
font-size: 64px;
line-height: 75px;
text-align: center;
padding-top: 0;
}
.section-intro{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 26px;
    margin-right: 526px;
    margin-left: 526px;
}
.header-btn{
    background: #FF900E;
border-radius: 8px;
width: 180px;
height: 64px;
border: none;
color: #FFFFFF;
font-weight: 600;
font-size: 20px;
line-height: 23px;
text-align: center;
margin-left: 870px;

}
.header-img{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* header-section end */

/*--------------------
 main-section design 
--------------------- */
.main-section-top{
    display: flex;
}
.main-section-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 650px;
    gap: 24px;
    padding-top: 24px;
    padding-left: 301px;
}
.main-section-text{
    margin-top: 200px;
    margin-left: 73px;
}
.main-section-text h2{
    font-size: 45px;
    color: #727272;
}
.main-section-text #mid-text{
    font-size: 45px;
    color: #131313;
}
.main-section-text #last-text{
    color: #FF900E;
}
.main-section-pragraph{
    font-weight: 400;
font-size: 16px;
line-height: 26px;
margin-right: 300px;
}
.main-section-top .main-btn{
    background: #FF900E;
    border-radius: 8px;
    width: 180px;
    height: 64px;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    margin-left: 0;
}
/* -------------------
main section middle designe
---------------------------- */
.main-section-middle{
    margin-top: 130px;
   margin-left: 240px;
    width: 900px;
    height: 500px;
} 
/* hr{
    transform:rotate(45deg);
    width: 45px;
    border: 5px solid red;
} */
.main-section-title{
    color: #131313;
    font-weight: 700;
    text-align: left;
font-size: 45px;
line-height: 53px;
margin-left: 90px;
margin-right: 100px;
}
/* hr tag design */

.main-section-middle hr{
  position:absolute;
    border:2px solid #FF900E ;
    width: 100px;
    transform:rotate(90deg);
    right: 1530px;
  top:2360px ;
    
   /* hr tag end */

}
.middle-section-pragraph{
    font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #727272;
padding-right: 140px;
}
.mid-section-title-box{
    margin-top: 25px;
        margin-left: 90px;
    background: #FFFFFF;
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
border-radius: 8px;
width: 550px;
height: 120px;
padding: 25px 30px;
}
.mid-section-title-box h2{
    font-weight: 600;
font-size: 20px;
line-height: 23px;
}
.mid-section-title-box p{
    font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #727272;
}
.middle-section-img{
    position: absolute;
    left: 980px;
    top: 2290px;
    margin-left: 54px;;
}
/* --------------
middle section btn design
-------------------*/
.middle-section-btn{
    position: absolute;
    width: 342px;
height: 200px;
background: #FF900E;
border-radius: 8px;
font-weight: 700;
font-size: 65px;
line-height: 70px;
text-align: center;
color: #FFFFFF;
border:none;
margin-left: 54px;
left: 950px;
top: 3154px;
}
.middle-section-btn span{
    font-weight: 500;
font-size: 25px;
line-height: 40px;


text-align: center;

color: #FFFFFF;

}
/*------------------- 
middle section ends 
------------------*/

