
*{
    font-family: 'Work Sans';
font-style: normal;
}
.header{
    
    width: auto;
    height: 1450px;
    background-color: rgba(255, 144, 14, 0.1);
}
nav, .h2{
    color: #131313;
    display: flex;
    font-weight: 700;
    font-size: 45px;
    padding-left: 228px;
    padding-top: 50px;
}
ul{
    display: flex;
    gap: 25px   ;
    color: #424242;
    font-weight: 500;
font-size: 18px;
    list-style-type:none;
    padding-right: 240px;
    padding-top: 63px;
    padding-left: 573PX;
}
/*----------------
 header section
 ------------------*/
.section-title{
    color: #131313;
    font-weight: 700;
font-size: 64px;
line-height: 75px;
text-align: center;
padding-top: 0;
}
.section-intro{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 26px;
    margin-right: 526px;
    margin-left: 526px;
}
.header-btn{
    background: #FF900E;
border-radius: 8px;
width: 180px;
height: 64px;
border: none;
color: #FFFFFF;
font-weight: 600;
font-size: 20px;
line-height: 23px;
text-align: center;
margin-left: 870px;

}
.header-img{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* header-section end */

/*--------------------
 main-section design 
--------------------- */
.main-section-top{
    display: flex;
}
.main-section-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 650px;
    gap: 24px;
    padding-top: 24px;
    padding-left: 301px;
}
.main-section-text{
    margin-top: 200px;
    margin-left: 73px;
}
.main-section-text h2{
    font-size: 45px;
    color: #727272;
}
.main-section-text #mid-text{
    font-size: 45px;
    color: #131313;
}
.main-section-text #last-text{
    color: #FF900E;
}
.main-section-pragraph{
    font-weight: 400;
font-size: 16px;
line-height: 26px;
margin-right: 300px;
}
.main-section-top .main-btn{
    background: #FF900E;
    border-radius: 8px;
    width: 180px;
    height: 64px;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    margin-left: 0;
}
/* -------------------
main section middle designe
---------------------------- */
.main-section-middle{
   margin-left: 240px;
    width: 900px;
    height: 500px;
    border: 3px solid red;
}